
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-font {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
  }

/* shared style */
.title-text-color{
  color: rgb(39, 39, 39);
}

.normal-text{
  font-size: 1.125rem;
  font-weight: 400;
  color: rgba(39, 39, 39, 0.6);
}
.primary-bg{
    background: rgba(229, 84, 115, 0.1);
}

/* Header section related style */
.container{
    display: flex;
    gap: 120px;
    align-items: center;
    
}
.info-container{
    width: 708px;
    height: 500px;
    border: 2px solid tomato;
    margin-left: 240px;
}
.info-container h1{
    font-size: 3rem;
}

.flower img{
    width: 635px;
    height: 800px;
    margin-right: 240px;
    margin-top: 50px;
}